body{
    background-color:#000000;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:95vh;
}
.about-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:550px;
    width:60vw;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter:blur(10px);
    box-shadow:0 0 40px rgba(8,7,16,0.6);
    border-radius:10px;
}
.welcome-section > h1{
    font-size:5rem;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom:0px;
}
.welcome-section > h3{
    font-size:2.5rem;
    z-index:99;
}
i{
    font-size:1rem;
    animation: Change_color 3s ease-in-out 0s infinite alternate;
    border-radius:50%;
}
@keyframes Change_color {
    0%{
        color:#BD83B8;
    }
    25%{
        color:#86A8CF;
    }
    50%{
        color:#E1CBD7;
    }
    75%{
        color:#06142E;
    }    
}
.button-section > button{
    padding:15px 50px;
    border-radius:10px;
    border:none;
    margin-top:50px;
    background-color:#1B3358;
    transition:0.5s ease;
}
#take-to-website:hover{
    background-color:#06142E;
    cursor: pointer;
    border:0.5px solid #fff;
    transform: scale(0.89);
}
button > a{
    text-decoration:none;
    font-size:1rem;
    color:#Fff;
}
.img-section>img{
    z-index:0;
    position:fixed;
    transform:translate(-50%,-50%);
    top:15%;
    left:20%;
    height:200px;
    width:200px;
}
.last-section > img{
    z-index:0;
    position:fixed;
    transform:translate(-50%,-50%);
    top:85%;
    right:5%;
    height:200px;
    width:200px;
}
@media screen and (max-width:1012px){
    .welcome-section > h1{
        font-size:4rem;
    }
    .welcome-section > h3{
        font-size:1.9rem;
    }
}
@media screen and (max-width:800px){
    .welcome-section > h1{
        font-size:2.75rem;
    }
    .welcome-section > h3{
        font-size:1.5rem;
    }
    i{
        font-size:0.75rem;
    }
}
@media screen and (max-width:640px){
    .welcome-section > h1{
        font-size:2.25rem;
    }
    .welcome-section > h3{
        font-size:1.35rem;
    }
    i{
        font-size:0.5;
    }
}
@media screen and (max-width:561px){
    .about-section{
        height:400px;
    }
    .welcome-section > h1{
        font-size:1.9rem;
    }
    .welcome-section > h3{
        font-size:1rem;
    }
    i{
        font-size:0.20;
    }
    .button-section > button{
        padding:10px 30px;
    }
    button > a{
        font-size:0.75rem;
    }
    .img-section > img{
        height:150px;
        width:150px;
        top:23%;
    }
    .last-section > img{
        height:150px;
        width:150px;
        right:-8%;
        top:75%;
    }
}
@media screen and (max-width:411px){
    .about-section{
        height:400px;
    }
    .welcome-section > h1{
        font-size:1.95rem;
    }
    .welcome-section > h3{
        font-size:0.85rem;
    }
    .button-section > button{
        padding:10px 40px;
    }
    button > a{
        font-size:0.72rem;
    }
    i{
        font-size:0.70rem;
    }
    .img-section > img{
        height:100px;
        width:100px;
    }
    .last-section > img{
        height:100px;
        width:100px;
        right:-8%;
    }
}
@media screen and (max-width:344px){
    .about-section{
        height:340px;
    }
    .welcome-section > h1{
        font-size:1.54rem;
    }
    .welcome-section > h3{
        font-size:0.55rem;
    }
    .button-section > button{
        padding:10px 25px;
    }
    button > a{
        font-size:0.55rem;
    }
    i{
        font-size:0.25rem;
    }
    .img-section > img{
        height:100px;
        width:100px;
    }
    .last-section > img{
        height:100px;
        width:100px;
        right:-8%;
    }
}